doctype html
html
  head
    title= DiabetesJS 
  body
  script(src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js")
  script(src='/javascripts/firebaseInit.js')
  script(src='/javascripts/checkUser.js')