doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body()
    block content
  script(src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js")
  script(src="/javascripts/firebaseInit.js")
  